.stock-tile {
    text-align: center;
    background-image: linear-gradient(to bottom right, #0984e3, #74b9ff, #dfe6e9, #74b9ff, #0984e3);
    padding: 10%;
}

.stock-tile:hover {
    animation: Tracked-Stocks-Hover;
    animation-duration: 0.5s;
    box-shadow: 5px 5px 5px 0 black;
    border: 2px solid white;
    cursor: pointer;
}

@keyframes Tracked-Stocks-Hover {
    from {
        box-shadow: none;
    }
    to {
        box-shadow: 5px 5px 5px 0 black;
    }
}
