.suggestion-conatiner {
    margin-bottom: 10px;
    background-image: linear-gradient(to bottom right, #0984e3, #74b9ff, #dfe6e9, #74b9ff, #0984e3);
    box-shadow: 0 0 3px 0 black;
}

.suggestion-conatiner:hover {
    animation: Suggested-Stocks-Hover;
    animation-duration: 0.25s;
    box-shadow: 0 0 7px 0 black;
    cursor: pointer;
}

@keyframes Suggested-Stocks-Hover {
    from {
        box-shadow: none;
    }
    to {
        box-shadow: 0 0 7px 0 black;
    }
}