.video-title-row, .video-description-row, .video-thumbnail-row {
    margin: 2% 0;
}

.video-title {
    font-weight: bold;
    font-size: 24px;
}

.video-description-row {

}

.video-description {

}

.video-thumbnail-row {

}

.video-thumbnail {
    
}