.video-title-row, .video-description-row, .video-thumbnail-row {
    margin: 2% 0;
}

.video-title {
    margin-top:3%;
    font-weight: bold;
    font-size: 24px;
}

.video-container {
    width: 80%;
    
    margin: 5% auto;
    padding-bottom: 5%;
    border-bottom: 1px solid black;
}

.video-description-row {

}

.video-description {

}

.video-thumbnail-row {

}

.video-thumbnail {
    
}

.video {
    box-shadow: 0 0px 5px 0 black;
    border: none;
}